:root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Manrope', sans-serif;
  --primary-bg: #8c7272;
  --primary-hover: #383434;
}

body {
  font-family: var(--font-family), sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
